ComparateurWS/resources/ComparateurWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ComparateurWS" targetNamespace="http://insa.fr/TDS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://insa.fr/TDS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://insa.fr/TDS">

      <xsd:element name="CompareResponse">

      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="estSousChaine" type="xsd:boolean">
      			</xsd:element>
      			<xsd:element name="positionSousChaine" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="compareRequest" type="tns:compareRequestType">
      </xsd:element>

      <xsd:complexType name="compareRequestType">
      	<xsd:sequence>
      		<xsd:element name="chaine" type="xsd:string"/>
      		<xsd:element name="sousChaine" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CompareResponse">
    <wsdl:part name="parameters" element="tns:CompareResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CompareRequest">
    <wsdl:part name="parameters" element="tns:compareRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ComparateurWSPortType">
    <wsdl:operation name="Compare">
      <wsdl:input message="tns:CompareRequest">
    </wsdl:input>
      <wsdl:output message="tns:CompareResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ComparateurWSBinding" type="tns:ComparateurWSPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Compare">
      <soap:operation soapAction="http://insa.fr/TDS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComparateurWS">
    <wsdl:port name="ComparateurWSSOAPPort" binding="tns:ComparateurWSBinding">
      <soap:address location="http://localhost:8080/ComparateurWS/services/ComparateurWS/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
